certifi==2020.6.20
coverage==5.3
cycler==0.10.0
decorator==4.4.2
EQSN==0.0.8
kiwisolver==1.2.0
matplotlib==3.3.2
networkx==2.5
nose2==0.9.2
numpy==1.19.2
Pillow==8.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
qunetsim==0.1.0.post6
six==1.15.0
